body {
  background-image: url(../img/DE_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

/*--navbar-------------------------------------------------------------------------*/

.logo img {
  display: inline-block;
  position: absolute;
  margin-top: 18%;
  margin-left: 6%;
  z-index: 20;
}

.navbar {
  background: none;
  padding: 1.4%;
  padding-top: 1.5%;
  padding-left: 6.3%;
}

/*--main-------------------------------------------------------------------------*/
.game_die_container {
  position: absolute;
  width: 100%vw;
  justify-content: center;
  align-items: center;
}

.main_star_color {
  position: absolute;
  top: 100px;
  left: 150px;
  width: 300px;
  z-index: 1;
}
.main_star_white {
  position: absolute;
  left: 250px;
  top: 120px;
  z-index: 1;
}
.main_star_yellow {
  position: absolute;
  left: 320px;
  top: 100px;
  z-index: 1;
}

.main_text {
  position: absolute;
  top: 480px;
  left: 600px;
  z-index: 50;
}

.main_text:hover {
  content: url(../img/DE_text_hover.png);
  transition: background-color 0.5s ease;
}

.main_grave img {
  position: absolute;
  top: 610px;
  left: 835px;
  width: 18vw;
}

/*--END button-------------------------------------------------------------------------*/
.END_button {
  position: absolute;
  top: 67%;
  left: 58%;
  width: 260px;
  height: 66px;
  padding: 7px 25px;
  text-decoration: none;
  gap: 10px;
  flex-shrink: 0;
  z-index: 90;
}

.REBORN_button {
  position: absolute;
  top: 67%;
  left: 26.4%;
  width: 260px;
  height: 66px;
  padding: 7px 25px;
  text-decoration: none;
  gap: 10px;
  flex-shrink: 0;
  z-index: 90;
}

button {
  position: absolute;
  top: 62%;
  display: inline-block;
  /*style*/
  border-radius: 30px;
  border: 3px solid #1c1c1c;
  background: #0cecdd;
  /*font style*/
  color: #000;
  text-align: center;
  font-family: Noto Sans TC;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

button:hover {
  background-color: #9700de;
  color: #ffffff;
  transition: background-color 0.5s ease;
}

/*--animation------------------------------------------------------------------------*/

.fall {
  position: absolute;
  top: 22%;
  left: 38%;
}

.fall-wrapper {
  position: fixed;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #231815;
  z-index: 99;
  opacity: 0;
  animation: delayshow 5s ease-out;
}
@keyframes delayshow {
  0% {
    opacity: 1;
    top: 0%;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
    top: 0%;
  }
  100% {
    opacity: 0;
    top: 100%;
  }
}

/*--modal-----------------------------------------------------------------------------------*/
.modal-dialog {
  right: 10%;
}

.modal-content {
  margin: 0%;
  padding: 0%;
  background: transparent;
  border: transparent;
}
.modal-button {
  background-color: rgb(247, 21, 21, 0);
  color: rgb(247, 21, 21, 0);
  z-index: 90;
}

.closeButton {
  background-color: rgb(249, 10, 205, 0);
  padding-left: 700px;
  margin-top: -480px;
  z-index: 90;
}

.closeButton:hover {
  content: url(../img/DE_modal_close_hover.png);
  transition: 1s ease;
}

.modal-body {
  background-color: rgb(36, 36, 75, 0);
  padding: unset;
  margin: unset;
  z-index: 50;
}

.modal-content img {
  z-index: 5;
}

.bg-body-tertiary {
  --bs-bg-opacity: 0;
}

.navbar button {
  background: transparent;
  border: transparent;
}

button.close {
  padding: unset;
  border-radius: 100%;
  width: 0%;
  height: 0%;
  left: 10%;
  background: transparent;
  border: transparent;
}

.botton {
  padding: 100px;
  padding-top: 130px;
}

.back {
  display: inline-block;
  padding-left: 35px;
}

.back img:hover {
  content: url(../img/DE_modal_back_hover.png);
  transition: 1s ease;
}

.continue {
  display: inline-block;
  position: absolute;
  left: 450px;
  background: transparent;
  top: 164px;
}

.continue img:hover {
  content: url(../img/DE_modal_continue_hover.png);
  transition: 1s ease;
}
/*-----------------------------------------------------------------------*/
